.equipo {
    width: 100%;
    padding: 2rem;
    text-align: center;
    font-size: 2rem;
    position: relative;
}

.input-color{
    position: absolute;
    top: 20px;
    right: 50px;
    width: 50px;
    padding: 0;
    cursor: pointer;
}

.equipo h3 {
    font-family: var(--font-title);
    font-weight: 400;
    color: var(--color-primary);
    border-bottom: solid 4px var(--color-primary);
    display: inline-block;
    padding: 0.5rem;
}

.colaboradores {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}